SUPPORT_EMAIL_PROVIDER=console
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxx
SENDGRID_API_URL=https://api.sendgrid.com/v3/mail/send
RESEND_API_KEY=
RESEND_API_URL=https://api.resend.com/emails
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=CryptoBit Support <support@yourdomain.com>
SUPPORT_FROM_EMAIL=CryptoBit Support <support@yourdomain.com>
