django              # Основной фреймворк
django-environ      # Для защиты API-ключей и настроек БД
requests            # Для получения котировок через внешние API
pandas              # Для обработки и анализа биржевых данных
matplotlib          # Для генерации статических графиков
plotly              # Для интерактивных графиков в браузере
django-bootstrap5   # Для быстрого и аккуратного оформления интерфейса
yfinance            # Yahoo Finance